@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rubik+Mono+One&display=swap');

:root {
    --shadow1: rgba(200, 200 ,200, 0.1);
}

*:focus {
    outline: none;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    line-height: 1.55rem;
}

a {
    text-decoration: none;
}

header,
main > *,
footer > *,
.loading  {
    padding: .5rem 1rem;
}

h1, h2, .logo {
    font-family: 'Rubik Mono One', sans-serif;
}

.loading {
    text-align: center;
}

@keyframes spinning {
    0%   { rotate: 0deg; }
    100% { rotate: 369deg; }
  }
.loading i {
    animation: spinning 2s linear 0s infinite;
    font-size: 3rem;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header figure,
header nav {
    display: flex;
    justify-content: space-between;
}

header figure {
    width: 230px;
}

header nav {
    width: 100px;
}

main {
    display: grid;
    grid: 
        'intro intro intro' 
        'catalog catalog aside';
    margin: 0 auto;
    max-width: 1200px;
}

main .intro {
    display: grid;
    align-items: center;
    grid-area: intro;
    height: 300px;
}

main .intro .title {
    font-size: 5rem;
    text-align: center;
}

main .catalog { grid-area: catalog; }


main .catalog .search-form {
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}

main .catalog .search-form input {
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0.3rem 1rem;
    width: 100%;
}

main .catalog .search-form button {
    font-size: 1.2rem;
    height: 3.4rem;
    width: 150px;
}

main .catalog .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

main .catalog .list .album {
    text-align: center;
}

main .catalog .list .album figure {
    height: 300px;
    margin: 0 0 1rem 0;
    overflow: hidden;
    transition: box-shadow .5s ease;
    width: 300px;
}

main .catalog .list .album figure img {
    transition: transform 0.5s; 
    -webkit-transition: -webkit-transform 0.5s;
}

main .catalog .list .album figure:hover {
    box-shadow: 0px 5px 8px grey;
}

main .catalog .list .album figure:hover > img {
    transform: scale(1.15); -webkit-transform: scale(1.15);
}

main .catalog .list .album h4 {
    margin: 0;
    padding: 0;
    width: 100%;
}

main .catalog .list .album p {
    margin: 0;
}

main aside { 
    border-left: 1px dotted black;
    grid-area: aside; 
    min-width: 300px;
}

footer {
    background-color: var(--shadow1);
}

footer section {
    display: grid;
    font-size: .7rem;
    grid: 50% / auto auto;
    line-height: 1rem;
    margin: 1rem auto 0 auto;
    max-width: 1200px;
}